/*
  color =>
    biru = #086AD8
    hitam = #373F41
    putih = #FFFFFF
    join-us bg = #086AD8, opacity 6%
    footer bg = #292F31
 */

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Muli', sans-serif;
}

/* Header */


/* Intro */


/* Services */


/* Join */


/* Footer */